<header>
    <a [routerLink]="['/']">
        @if (this.screenWidth > 425) {
            <img
                class="logo"
                alt="logo"
                src="../../assets/CAPTURA-LOGO-510px-141px.png"
                priority
            />
        } @else {
            <img
                class="logo"
                alt="logo"
                src="../../assets/captura-mobile.png"
                priority
            />
        }
    </a>

    <nav>
        <ul>
            <li><a [routerLink]="['/how-to-use']">Cómo funciona</a></li>
        </ul>
    </nav>
</header>
