<footer>
    <!-- Left side: Navigation bar -->
    <nav>
        <span>Navega por CAPTURA</span>
        <ul>
            <li><a [routerLink]="['/']">Página principal</a></li>
            <li><a [routerLink]="['/how-to-use']">Cómo funciona</a></li>
        </ul>
    </nav>

    <!-- Right side: just a Github link to this project repository and the author fullname -->
    <div class="right-side">
        <a href="https://github.com/XavYan/captura-prueba-tecnica">
            <img alt="Github" src="../../assets/github.png" width="24px">
        </a>
        <p>Desarrollado por Himar Manuel Barquín Carrasco &copy; 2024</p>
    </div>
</footer>
