footer {
    width: 100%;
    min-height: var(--footer-height);
    background-color: rgb(195, 198, 192);
    padding: 30px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigator */
nav span {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li:first-child {
    padding-top: 5px;
}

nav ul li {
    padding-bottom: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    will-change: color;
    transition: color .1s;
    font-size: 14px;
}

nav a:hover {
    color: var(--primary-color);
    cursor: pointer;
}

/* Right side */
.right-side {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.right-side img {
    margin-bottom: 5px;
}

.right-side p {
    text-align: right;
}