<div class="filter-options">
    <div class="filter-row">
        <div class="filter">
            <label for="projectSearch">Proyecto</label>
            <input [(ngModel)]="projectSearch" name="projectSearch">
        </div>
        <div class="filter">
            <label for="keySort">Ordenar por</label>
            <select name="keySort" [(ngModel)]="markerKeySort" name="markerKeySort">
                <option value="ccaa">CC.AA.</option>
                <option value="province">Provincia</option>
                <option value="city">Ciudad</option>
                <option value="project">Proyecto</option>
                <option value="description">Descripción</option>
                <option value="date">Fecha</option>
                <option value="lat">Latitud</option>
                <option value="lng">Longitud</option>
            </select>
        </div>
    </div>
    <div class="filter-row">
        <div class="filter">
            <label for="citySearch">Ciudad</label>
            <select name="citySearch" [(ngModel)]="citySearch" name="citySearch">
                <option default value="">--</option>
                @for (city of this.getCities(); track $index) {
                    <option>{{ city }}</option>
                }
            </select>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>CC.AA.</th>
            <th>Provincia</th>
            <th>Ciudad</th>
            <th>Proyecto</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Latitud</th>
            <th>Longitud</th>
        </tr>
    </thead>
    <tbody>
        @for (marker of filterTable(); track $index) {
            <tr (click)="onMarkerRowClick($event)" [attr.data-row]="$index">
                <td>{{ marker.ccaa }}</td>
                <td>{{ marker.province }}</td>
                <td>{{ marker.city }}</td>
                <td>{{ marker.project }}</td>
                <td>{{ marker.description }}</td>
                <td>{{ marker.date.toLocaleString() }}</td>
                <td>{{ marker.lat }}</td>
                <td>{{ marker.lng }}</td>
            </tr>
        }
    </tbody>
</table>
