<form>
    <label>Buscar</label>
    <input placeholder="Proyecto" [(ngModel)]="projectSearch" name="projectSearch">
</form>
<table>
    <thead>
        <tr>
            <th>CC.AA.</th>
            <th>Provincia</th>
            <th>Ciudad</th>
            <th>Proyecto</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Latitud</th>
            <th>Longitud</th>
        </tr>
    </thead>
    <tbody>
        @for (marker of filterTable(); track $index) {
            <tr (click)="onMarkerRowClick($event)" [attr.data-row]="$index">
                <td>{{ marker.ccaa }}</td>
                <td>{{ marker.province }}</td>
                <td>{{ marker.city }}</td>
                <td>{{ marker.project }}</td>
                <td>{{ marker.description }}</td>
                <td>{{ marker.date.toLocaleString() }}</td>
                <td>{{ marker.lat }}</td>
                <td>{{ marker.lng }}</td>
            </tr>
        }
    </tbody>
</table>
