/* Styling markers table */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
}

th {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: white;
    background-color: var(--primary-color);
}

td {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

tr {
    will-change: background-color;
    transition: background-color .2s;
}

tbody > tr:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

/* Styling filter options */
.filter-options .filter-row {
    display: flex;
    justify-content: space-between;
}

.filter-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.filter-row .filter label {
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-right: 10px;
    min-width: 80px;
}

.filter-row input,
.filter-row select
{
    padding: 5px;
    width: 120px;
    will-change: width;
    transition: width .2s;
    border-radius: 4px;
    border: 1px solid #808080;
}

.filter-row select[name="citySearch"] {
    width: 200px;
}

.filter-row input:focus {
    width: 180px;
}

.filter-row input:focus-visible,
.filter-row select:focus-visible {
    outline-color: var(--accent-color);
}

.filter-row button {
    border: none;
    padding: 5px 15px;
}