<main>
    <h1>¿Cómo funciona CAPTURA?</h1>
    <p class="subtitle">Manual de uso de la plataforma</p>

    <h2>¿Qué es CAPTURA?</h2>
    <p>Captura es una herramienta fácil de usar donde podrás crear y visualizar tus propios marcadores.</p>

    <h2>¿Cómo funciona?</h2>
    <h3>Creando tus propios marcadores</h3>
    <p>Para crear tus propios marcadores, puedes hacerlo a <b>haciendo click</b> en el punto del mapa donde quieras. Se abrirá un menú contextual (popup) donde podrás indicar los datos del marcador. Una vez pulses en confirmar, la herramienta mostrará el nuevo marcador tanto en el mapa como en la lista de marcadores.</p>
    <div class="image-container">
        <img 
            alt="Foto insertando un nuevo marcador"
            src="../../assets/how-to-use-photo1.png"
            width="50%"
        >
    </div>

    <h3>Consultar tus marcadores</h3>
    <h4>Buscando a través del mapa</h4>
    <p>Puedes <b>moverte</b> a través del mapa manteniendo pulsado el click izquierdo y arrastrando hacia donde quieras. Una vez encuentres el punto que buscas, <b>puedes consultar su información haciendo click</b> sobre el globo.</p>

    <div class="image-container">
        <img 
            alt="Gif seleccionando un marcador desde el mapa"
            src="../../assets/how-to-use-gif-2.webp"
            width="50%"
        >
    </div>

    <h4>Eligiendo el marcador a través de la tabla</h4>
    <p>Justo debajo del mapa hay una <b>tabla</b> donde se listan todos los marcadores. Si haces click en los datos de uno de los marcadores <b>el mapa te llevará hasta él</b>.</p>

    <div class="image-container">
        <img 
            alt="Gif seleccionando un marcador desde la tabla de marcadores"
            src="../../assets/how-to-use-gif-3.gif"
            width="50%"
        >
    </div>

    <h3>Usando los filtros</h3>
    <p>La tabla dispone de una serie de filtros que nos ayudan a buscar los marcadores que más nos interesan. <b>Podemos filtrar por nombre de proyecto y ciudad</b>, además de <b>ordenar</b> por la columna que queramos.</p>

    <div class="image-container">
        <img 
            alt="Gif filtrando los marcadores de la tabla"
            src="../../assets/how-to-use-gif-4.gif"
            width="50%"
        >
    </div>
</main>