<main>
    <h1>¿Cómo funciona CAPTURA?</h1>
    <p class="subtitle">Manual de uso de la plataforma</p>
    
    <nav class="index">
        <a href="/how-to-use#que-es-captura" class="lvl-1">¿Qué es CAPTURA?</a>
        <a href="/how-to-use#como-funciona" class="lvl-1">¿Cómo funciona?</a>
        <a href="/how-to-use#creando-tus-marcadores" class="lvl-2">Creando tus propios marcadores</a>
        <a href="/how-to-use#consulta-tus-marcadores" class="lvl-2">Consulta tus marcadores</a>
        <a href="/how-to-use#buscando-a-traves-del-mapa" class="lvl-3">Buscando a través del mapa</a>
        <a href="/how-to-use#eligiendo-el-marcador-tabla" class="lvl-3">Eligiendo el marcador a través de la tabla</a>
        <a href="/how-to-use#usando-los-filtros" class="lvl-2">Usando los filtros</a>
    </nav>

    <section id="que-es-captura">
        <h2>¿Qué es CAPTURA?</h2>
        <p>Captura es una herramienta fácil de usar donde podrás crear y visualizar tus propios marcadores.</p>
    </section>

    <section id="como-funciona">
        <h2>¿Cómo funciona?</h2>
        <section id="creando-tus-marcadores">
            <h3>Creando tus propios marcadores</h3>
            <p>Para crear tus propios marcadores, puedes hacerlo a <b>haciendo click</b> en el punto del mapa donde quieras. Se abrirá un menú contextual (popup) donde podrás indicar los datos del marcador. Una vez pulses en confirmar, la herramienta mostrará el nuevo marcador tanto en el mapa como en la lista de marcadores.</p>
            <div class="image-container">
                <img 
                    alt="Foto insertando un nuevo marcador"
                    src="../../assets/how-to-use-photo1.png"
                    width="50%"
                >
            </div>
        </section>

        <section id="consulta-tus-marcadores">
            <h3>Consulta tus marcadores</h3>
            <section id="buscando-a-traves-del-mapa">
                <h4>Buscando a través del mapa</h4>
                <p>Puedes <b>moverte</b> a través del mapa manteniendo pulsado el click izquierdo y arrastrando hacia donde quieras. Una vez encuentres el punto que buscas, <b>puedes consultar su información haciendo click</b> sobre el globo.</p>

                <div class="image-container">
                    <img 
                        alt="Gif seleccionando un marcador desde el mapa"
                        src="../../assets/how-to-use-gif-2.webp"
                        width="50%"
                    >
                </div>
            </section>

            <section id="eligiendo-el-marcador-tabla">
                <h4>Eligiendo el marcador a través de la tabla</h4>
                <p>Justo debajo del mapa hay una <b>tabla</b> donde se listan todos los marcadores. Si haces click en los datos de uno de los marcadores <b>el mapa te llevará hasta él</b>.</p>

                <div class="image-container">
                    <img 
                        alt="Gif seleccionando un marcador desde la tabla de marcadores"
                        src="../../assets/how-to-use-gif-3.gif"
                        width="50%"
                    >
                </div>
            </section>
        </section>

        <section id="usando-los-filtros">
            <h3>Usando los filtros</h3>
            <p>La tabla dispone de una serie de filtros que nos ayudan a buscar los marcadores que más nos interesan. <b>Podemos filtrar por nombre de proyecto y ciudad</b>, además de <b>ordenar</b> por la columna que queramos.</p>

            <div class="image-container">
                <img 
                    alt="Gif filtrando los marcadores de la tabla"
                    src="../../assets/how-to-use-gif-4.gif"
                    width="50%"
                >
            </div>
        </section>
    </section>
</main>