
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

/* Global variables to be used around the document */
:root {
    --header-height: 80px;
    --footer-height: 100px;

    --primary-color: #5b7526;
    --accent-color: #9FC53F;
}

html {
    /* For a better scrolling when using links in how-to-use page */
    scroll-behavior: smooth;
}

/* If user has selected a preference in the navigator to not to use smooth scrolling */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h2, h3, h4 {
    font-weight: 500;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
}
p, li, a {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Loading styles */
.loading {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,.6);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading::after {
    content: '';

    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    border-top: 10px solid var(--accent-color);
    border-bottom: 10px solid var(--accent-color);
    border-left: 10px solid rgba(0,0,0,0);
    border-right: 10px solid rgba(0,0,0,0);
    border-radius: 50%;
    animation: spinner 1s infinite;
}

@keyframes spinner {to{transform: rotate(.5turn)}}

/* Only apply overflow:hidden when loading class exists in the DOM */
html:has(div.loading) {
    overflow: hidden;
}