
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

:root {
    --header-height: 80px;
    --footer-height: 100px;

    --primary-color: #5b7526;
    --accent-color: #9FC53F;
}

html {
    /* For a better scrolling when using links in how-to-use page */
    scroll-behavior: smooth;
}

/* If user has selected a preference in the navigator to not to use smooth scrolling */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h2, h3, h4 {
    font-weight: 500;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
}

h4 {
    font-size: 1.2em;
}
p, li, a {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}