
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

:root {
    --header-height: 80px;
    --footer-height: 100px;

    --primary-color: #5b7526;
    --accent-color: #9FC53F;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}