main {
    max-width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 30px;
    box-sizing: border-box;
}

#map {
    height: 280px;
    margin: 0 auto;
}
